.pointer {
    cursor: pointer;
}

#zoomA {
    /* (A) OPTIONAL DIMENSIONS */
    height: auto;
    position: static;

    /* (B) ANIMATE ZOOM */
    /* ease | ease-in | ease-out | linear */
    transition: transform ease-in-out 0.3s;
}

/* (C) ZOOM ON HOVER */
#zoomA:hover {
    transform: scale(2);
}
